<nav class="bg-whitefixed  shadow-lg w-full z-20 top-0 start-0 border-b border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center space-x-3">
            <span class="self-center text-2xl font-semibold whitespace-nowrap">SpendWise</span>
        </a>
        <div class="flex md:order-2 space-x-3 md:space-x-0 ml-auto">
            <button (click)="monthlyStats()"
                class="block text-white bg-[#378c98] hover:bg-[#326168] font-medium rounded-3xl text-sm px-5 py-2.5 text-center mr-3"
                type="button">
                {{buttonText}}
            </button>
            <button (click)="openForm()"
            class="block text-white bg-[#378c98] hover:bg-[#326168] font-medium rounded-3xl text-sm px-5 py-2.5 text-center"
            type="button">
            New Transaction
        </button>
        </div>
    </div>
</nav>

